<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        Project name:<br>
        <input type="text" formControlName="projectname">
        <br>
        Mail:<br>
        <input type="email" formControlName="mail">
        <br>
        Project status:<br>
        <select formControlName="projectstatus">
            <option *ngFor="let status of projectstatus" [value]="status">{{status}}</option>            
          </select> 
        <br>
        <input type="submit" value="Submit" [disabled]="formData.invalid">
      </form> 
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>
</div>
